body {
    position: relative;
    height: 1000vh;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(80, 170, 255, 1) 0%, rgba(232, 240, 237, 1) 50%, rgba(98, 140, 77, 1) 100%);
}

#gravity-link {
    position: absolute;
    bottom: 0;
}

a {
    visibility: hidden;
}

.title {
    text-align: center;
}

.scene {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
}

.tree-top img,
.tree-trunk img {
    width: 100%;
    object-fit: cover;
    left: 50%;
}

.tree-top {
    top: 50%;
    width: 60%;
    z-index: 1;
    transform: scale(2) translateY(15%);
}

.tree-trunk img {
    top: 4%;
    right: 45%;
    height: 1000vh;
    width: 7vw;
    object-fit: cover;
}

.grass img {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    z-index: 2;
}


.apple {
    position: absolute;
    height: 10vw;
    z-index: 3;
}



.isaac-newton img {
    position: fixed;
    bottom: 4%;
    left: 4%;
    height: 40vh;
}


@media screen and (min-height: 880px) and (max-width: 1624px) and (orientation: landscape) {


    .tree-trunk img {
        width: 7vw;
    }

    .apple {
        height: 8vw;
    }

    .tree-top img {
        width: 65%;
    }

    .tree-top {
        top: 50%;
        width: 60%;
        z-index: 1;
        transform: scale(3.2) translateX(20%) translateY(10%);
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .tree-top {
        width: 60%;
    }

    .apple {
        height: 6vw;
    }

    .tree-top img {
        width: 60%;
    }

}

@media screen and (min-width: 321px) and (max-width: 940px) {
    .tree-top {
        top: 50%;
        width: 60%;
        z-index: 1;
        transform: scale(3.2) translateX(20%) translateY(10%);
    }
}