body {
    margin:20px;/*spacing around the content*/
    padding:0;
    text-align:center;
    background-color: black;

}
h1{
    color: white;
}
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }

ul {
    list-style-type: none; /*removes bullet point from unordered list*/
}

.container{
    display:grid;/*allows to be organized in a grid layout*/
    grid-template-columns:repeat(8, 1fr);/*repeat 1 fraction unit 8 times(divide into equal 8 parts)*/
    grid-auto-rows:75px 150px;/*row size/ height*/
    grid-gap:15px;
    grid-auto-flow: dense;/*fill gaps in efficiently*/
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative; /*relative to parent element position*/
}

.gallery-item .image{/*escendants of elements with the class "gallery-item"*/
    width:100%;
    height:100%;
    overflow:hidden;/*hides the content overflowes image element*/
}
  

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover; /*image should cover the entire container while maintaining its aspect ratio*/
    object-position:50% 50%;/*centers object position*/
    cursor:pointer;
    transition: .5s ease-in-out; /*smooth transition when hover*/
}

.gallery-item:hover .image img{
    transform:scale(1.2);
}

.gallery-item .image iframe{
    width:100%;
    height:100%;
    object-fit: contain; /*image should cover the entire container while maintaining its aspect ratio*/
    object-position: 50% 50%;/*centers object position*/
    cursor:pointer;
    transition: .5s ease-in-out; /*smooth transition when hover*/
   /* object-position: center center; /* Center the iframe content 
    display: block; /* Ensure the iframe is displayed as a block element */ 
    margin: 15px;
}

.link-under-iframe {
    display: block; /* Make the link a block-level element */
    background-color: #007bff; /* Choose a background color */
    color: white; /* Choose text color */
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add some padding for better visibility */
    text-decoration: none; /* Remove underline from the link */
}

.link-under-iframe:hover {
    background-color: #0056b3; /* Change the background color on hover */
}

/*.gallery-item:hover .image iframe{
    transform:scale(1.5);
}*/


.w-1{/*when applied to element, defines width (how many columns)*/
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{/*when applied to element, defines height (how many rows)*/
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}