body {
    overflow: hidden;
    background-image: url("background.png");
    /*https://pngtree.com/freepng/cartoon-monarch-butterfly-clip-art_6116912.html , https://pngtree.com/freepng/cartoon-monarch-butterfly-clip-art_6116912.html .  https://pngtree.com/freepng/white-drawing-butterfly-clipart_4153184.html*/
}

.toolbar {
    padding-left: 90vw;
}

.accessibility-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
}



.wrapper,
.grid-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(24.175vw, 1fr));
    margin-top: 7px;
}

.header-item {
    text-align: center;
}

input[type="radio"] {
    display: none;
}

/*span elements that are direct siblings of input elements with the type radio*/
input[type="radio"]+span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0.3vw solid #000000;
    cursor: pointer;
}

input[type="radio"]:checked+span {
    background-color: #000000;
}

.hidden {
    display: none;
}

.visibility-button {
    cursor: pointer;
    margin: 2vh;
    font-size: x-large;
}

.visibility-button:hover {
    background: #000000;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 33%;
    /* Ensure position relative for absolute positioning inside */
}

.house-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    /* Adjust as needed */
}

.flex-container {
    width: 70%;
    /* Adjust as needed */
}

.theme-image.house {
    display: block;
    width: 90%;
}



.theme-image.door,
.theme-image.window {
    position: absolute;
}

.theme-image.door {
    width: 8%;
    top: 52%;
    left: 50%;
}

.theme-image.window {
    width: 8%;
    bottom: 28%;
    right: 52%;
}



@media screen and (min-height: 880px) {


    .theme-image.door,
    .theme-image.window {
        top: 50%;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}